* {
    box-sizing: border-box;
}

.body {
    font-family: "Helvetica Neue";
    /* Попробуй закинуть в боди цвета всех элементов */
}

.header,
.introduce,
.last {
    background-color: #F4F5F7;
    width: 100%;
}

.introduce {
    padding-top: 165px;
    padding-bottom: 191px;
}

.header {
    padding-top: 78px;
}

.head,
.intro,
.button-box,
.mid {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 60%;
    /* ебануть отступ макс ширриной в 1140 пикс */
    margin: auto;
}

.header-order {
    font-size: 20px;
    color: #95989a;
    font-weight: bold;
}

.header-social-links {
    margin-right: 10px;
    justify-self: flex-end;
}

.header-social-links:nth-of-type(3) {
    margin-right: 0px;
}

.subtitle {
    font-size: 20px;
    color: #32325f;
}

.title {
    font-size: 48px;
    color: #32325f;
    font-weight: bold;
    margin-top: 25px;
}

.discription {
    line-height: 26px;
    width: 516px;
    height: 56px;
    margin-top: 29px;
}

.cost {
    margin-top: 26px;
}

.price {
    font-size: 48px;
    color: #525f7f;
    margin-top: 26px;
}

.button-box {
    margin-top: 54px;
    max-width: 496px;
}

.button {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    filter: drop-shadow(0px 3px 3.5px rgba(173, 173, 173, 0.16));
    border: none;
}

.button-1 {
    background-color: #2dce89;
    padding: 23px 31px;
}

.button-2 {
    background-color: #5e72e4;
    padding: 23px 37px;
}

.middle {
    width: 100%;
    margin-top: 92px;
    padding-bottom: 170px;
}

.mid {
    margin-top: 102px;
}

.info {
    font-size: 16px;
    color: #525f7f;
    /* width: 240px; */
    margin-top: 39px;
}

.last {
    padding-top: 93px;
    padding-bottom: 112px;
}

.last-people {
    margin-top: 67px;
    display: grid;
    grid-template-columns: 363px 363px 363px;
    justify-content: space-between;

}

.people {
    margin-top: 35px;
}

.footer {
    background-color: #32325f;
    padding-top: 82px;
    padding-bottom: 119px;

}

.foot-style {
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
}

.foot-title {
    font-size: 24px;
    margin-bottom: 40px;
}

.footer-links {
    font-size: 16px;
}